<!DOCTYPE html>
<html>
	<head>
		<title>Ahorcado</title>
	</head>
	<body>
	 	<center>BIENVENIDO !!!, ingresa una palabra secreta a jugar:
		
			<form method="post" action="/registraPalabra"> 
		   		Palabra Secreta :<input type="text" name="palabra" placeholder="Ingresar una palabra secreta" /> 
		   		<input type="submit" name="Registrar" value="Registrar" />   
			</form>
			
		</center>
	</body>
</html>
