BIENVENIDO !!! <name='label'>
<h1 > <%=@palabraSegmentada%> </h1> 

<form method="post" action="/ingresarLetra"> 
   Letra :<input type="text" name="letra">
   <input type="submit" name="Ingresar" value="Ingresar letra"/>    
  </table>
</form>



