<!DOCTYPE html>
<html>
	<head>
		<title>Ahorcado</title>
	</head>
	<body>
	 	<center>BIENVENIDO !!! <name='label'></name='label'>
		<center><h1> <%=@palabraSegmentada%> </h1> 
		<center><h2> Tu puntuación : <%=@puntuacion%> </h2> 

		<form method="post" action="/ingresarLetra"> 
	   		Letra :<input type="text" name="letra" placeholder="ingresar Letra" maxlength="1"/> 
	   		<input type="submit" name="Ingresar" value="Ingresar letra"  />   
		</form>
		</center>
	</body>
</html>
