 <table>
    <tbody>
      <tr>
        <td align='center'><input type="button" name=bota value=" a " onclick="juega(this.form, 'a')">
        <td align='center'><input type="button" name=botb value=" b " onclick="juega(this.form, 'b')">
        <td align='center'><input type="button" name=botc value=" c " onclick="juega(this.form, 'c')">
        <td align='center'><input type="button" name=botd value=" d " onclick="juega(this.form, 'd')">
        <td align='center'><input type="button" name=bote value=" e " onclick="juega(this.form, 'e')">
        <td align='center'><input type="button" name=botf value=" f " onclick="juega(this.form, 'f')">
      </tr>
      <tr>
        <td align='center'><input type="button" name=botg value=" g " onclick="juega(this.form, 'g')">
        <td align='center'><input type="button" name=both value=" h " onclick="juega(this.form, 'h')">
        <td align='center'><input type="button" name=boti value=" i " onclick="juega(this.form, 'i')">
        <td align='center'><input type="button" name=botj value=" j " onclick="juega(this.form, 'j')">
        <td align='center'><input type="button" name=botk value=" k " onclick="juega(this.form, 'k')">
        <td align='center'><input type="button" name=botl value=" l " onclick="juega(this.form, 'l')">
      </tr>
      <tr>
        <td align='center'><input type="button" name=botm value=" m " onclick="juega(this.form, 'm')">
        <td align='center'><input type="button" name=botn value=" n " onclick="juega(this.form, 'n')">
        <td align='center'><input type="button" name=botñ value=" ñ " onclick="juega(this.form, 'ñ')">
        <td align='center'><input type="button" name=boto value=" o " onclick="juega(this.form, 'o')">
        <td align='center'><input type="button" name=botp value=" p " onclick="juega(this.form, 'p')">
        <td align='center'><input type="button" name=botq value=" q " onclick="juega(this.form, 'q')">
      </tr>
      <tr>
        <td align='center'><input type="button" name=botr value=" r " onclick="juega(this.form, 'r')">
        <td align='center'><input type="button" name=bots value=" s " onclick="juega(this.form, 's')">
        <td align='center'><input type="button" name=bott value=" t " onclick="juega(this.form, 't')">
        <td align='center'><input type="button" name=botu value=" u " onclick="juega(this.form, 'u')">
        <td align='center'><input type="button" name=botv value=" v " onclick="juega(this.form, 'v')">
        <td align='center'><input type="button" name=botw value=" w " onclick="juega(this.form, 'w')">
      </tr>
      <tr>
        <td align='center'><input type="button" name=botx value=" x " onclick="juega(this.form, 'x')">
        <td align='center'><input type="button" name=boty value=" y " onclick="juega(this.form, 'y')">
        <td align='center'><input type="button" name=botz value=" z " onclick="juega(this.form, 'z')">
      </tr>
    </tbody>      
  </table>
