<!DOCTYPE html>
<html>
	<head>
		<title>Ahorcado</title>
	</head>
	<body>
	 	<center><h1>  <%= @mensaje %></h2>  </center>
	 		<center><h1> Palabra secreta: <%= @palabraSecreta %></h2>  
	 			<a href="/" name="nuevoJuego" title="nuevoJuego"> Jugar de nuevo</a></center>
	</body>
</html>
