<!DOCTYPE html>
<html>
	<head>
		<title>Ahorcado</title>
	</head>
	<body>
		<center>
			<h1>  <%= @mensaje %></h2> 
	 		<img src="./img/game_<%=@puntuacion%>.jpg" />
	 		<h2> Palabra secreta: <%= @palabraSecreta %></h2>  
	 		<a href="/" name="nuevoJuego" title="nuevoJuego"> Jugar de nuevo</a></center>
		</center>
	 		
	</body>
</html>
